html {
  background-color: lightslategrey;
}
#canvas {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-buttons {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 1rem;
}

.settings {
margin-left: 43%;
}
form {
  margin-left: 6%
}

fieldset {
  border:0;
}

.score {
  font-family: monospace;
  font-size: 5rem;
  font-weight: bold;

}

#length {
  position: absolute;
  top:5%;
  left:12%;
}

#score {
  position: absolute;
  top:5%;
  left:31%;
}

h1 {
  text-align: center;
  width: 25%;
  margin: 0 auto;
  color: lightgoldenrodyellow;
  text-shadow: 2px 2px black;
  font-size: 37px;
}
