html {
  background-color: lightslategrey;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-buttons {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 1rem;
}

 div {
  display: flex;
  font-family: monospace;
  font-size: 5em;
  font-weight: bold;
  left: 50%;
  text-align: center;
  top: 80%;
  position: absolute;
}

h1 {
  text-align: center;
  width: 25%;
  margin: 0 auto;
  color: lightgoldenrodyellow;
  text-shadow: 2px 2px black;
  font-size: 37px;
}
